<div class="dp-section-container">
    <div class="coverImg">
        <div class="my-dp pull-left">
          <div class="dp-backgrnd">
              <img src="../assets/me.png">
          </div>
          
        </div>
        <div class="life-phylosophy pull-right">
          <div class="quote">
            <div class="my-name text-left">Prakhar Rastogi</div>
             <p> "Quote of the day!! We can then use vertical-align on the child div and set its value to middle. Anything inside this child div will be vertically centered."</p>
          </div>
        </div>
    </div>
    <div class="dpSection">

    </div>
</div>
